body {
	font-family: 'Raleway', sans-serif;
}
/*{
	padding: 0;
	margin: 0;
}
.container {
	max-width: 960px;
	text-align: center;
} */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

nav {
	width: 100%;
	height: 70px;
	line-height: 70px;
	background: rgba(0,0,0,.20);
	position: fixed;
    top: 0;
    z-index: 9999;
}
nav h2 {
    margin-top: 13px;
	float: left;
	font-size: 2em;
    margin-left: 15px;
    color: white;
}
nav ul {
	float: right;
	margin-right: 15px;
}
nav ul li {
	display: inline-block;
	list-style: none;
}
nav ul li a {
	color: white;
    padding: 25px;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: none;
	background: rgba(0,0,0,.20);
    transition: all ease-in-out 0.45s;
    color: white;
}

nav ul li a.active {
	background: rgba(0,0,0,.20);
}
/* navbar selesai */
.opening {
    background-image: url('../image/email-pattern.png');
    height: 665px;
}

.text {
    padding-top: 200px;
    text-align: center;
}

.text h5 {
    font-size: 55px;
    font-weight: normal;
}

.text h1 {
    margin-top: 20px;
    font-size: 60px;
}

.text p {
    margin-top: 20px;
}

.about {
    margin: 40px 0;
}

.about-content {
    display: flex;
}

.about .image-profil img {
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
    border: 2px dashed rgb(216, 152, 124);
}

.about .about-text {
    align-self: center;
}

.about .about-text h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 45px;
    font-size: 35px;
    /* border-bottom: 2px solid rgb(216, 152, 124); */
}

.about .about-text h5 {
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    font-size: 30px;
}

.about .about-text p {
    line-height: 2;
}

.about .about-text .footer-sosmed {
    display: flex;
}

.about .about-text .footer-sosmed .icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    color: black;
}

.about .about-text .footer-sosmed .icon a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d3dadf;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    color: #d3dadf;
}

/*about selesai*/

.expertise {
    padding: 80px 0;
    /* background: #e4e8ed; */
    background-image: url('../image/email-pattern.png');
}
.title {
    text-align: center;
    margin-bottom: 30px;
}
.title h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 35px;
}
.expertise .header {
    height: 230px;
    display: flex;
    justify-content: center;
}
.expertise .profile {
	width: 150px;
	height: 230px;
	float: left;
	-webkit-transition: height .4s;
}
#one {
	background: rgb(208,101,3); 
}
#two {
	background: rgb(233,147,26);
}
#three {
    background: rgb(22,107,165);
}
#four {
	background: rgb(22,145,190);
}
.expertise .profile-icon {
    font-size: 100px;
    text-align: center;
	display: block;
	margin: 40px auto;
	width: 100px;
	height: 100px;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition: box-shadow .4s;
}



/* kondisi pertama */
.expertise .name {
	color: white;
	text-align: center;
	font-size: 1.2em;
	padding-top: 10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}
.expertise .star {
	color: white;
	text-align: center;
	font-size: 1.2em;
	padding-top: 10px;
	opacity: .6;
    -webkit-transition: padding-top .4s;
    display: none;
}
/* kondisi kedua */
.expertise .name-after {
	color: white;
	text-align: center;
	font-size: 1.2em;
	padding-top: 10px;
	opacity: .6;
    -webkit-transition: padding-top .4s;
    display: none;
}
.expertise .star-after {
	color: white;
	text-align: center;
	font-size: 1.2em;
	padding-top: 10px;
	opacity: .6;
    -webkit-transition: padding-top .4s;
}



.expertise .profile:hover {
	height: 250px;
}
.expertise .profile:hover .name {
	padding-top: 30px;
	opacity: 1;
}
.expertise .profile:hover .profile {
	-webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
}

/* expertise selesai */
.basic-info table {
    margin-bottom: 30px;
}
.basic-info {
    padding: 40px 0;
}
.basic-info td {
    font-size: 14px;
}
.wrapper-education .education-mb {
    margin-bottom: 74px;
}
.wrapper-education .education-list .year {
    margin: 0 0 6px;
    font-size: 15px;
}
.wrapper-education .education-list .block {
    width: 330px;
    height: 45px;
    background-color: #e6edf5;
}
.wrapper-education .education-list .institution {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}
.wrapper-education .education-list .paragraph {
    font-size: 15px;
    margin-top: 6px;
}

.wrapper-education .education-list .year-reverse {
    margin: 0 0 6px;
    font-size: 15px;
    float: right;
}
.wrapper-education .education-list .block-reverse {
    width: 330px;
    height: 45px;
    background-color: #b8bbbf;
    float: right;
}
.wrapper-education .education-list .institution-reverse {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    float: right;
    text-align: right;
}
.wrapper-education .education-list .paragraph-reverse {
    font-size: 15px;
    margin-top: 6px;
    float: right;
}
.basic-info .company-name {
    display: flex;
}
.basic-info .second-company {
    display: flex;
}
.basic-info .company-name img {
    position: absolute;
    bottom: 454px;
    border-radius: 50%;
    border: 4px solid white;
    height: 73px;
}
.basic-info .circle  {
    margin-left: 35px;
    width: 100%;
    height: 72px;
    background-color: #e4e8ed;
}
.basic-info .company-name .circle p{
    margin-left: 60px;
    margin-top: 13px;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.basic-info .second-company img {
    position: absolute;
    bottom: 186px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid white;
    height: 73px;
}
.basic-info .second-company .circle p{
    margin-left: 60px;
    margin-top: 13px;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.basic-info .company-detail {
    margin-left: 35px;
    width: 93.6%;
    height: 180px;
    background-color: white;
}
@keyframes smoothHover {
    from {
        background-color: white;
        color: black;
    }
    to {
        background-color: gray;
        color: white;
    }
}
.basic-info .box {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: white;
}
.basic-info .box:hover {
    transition: background 500ms;
    animation-name: smoothHover;
    animation-duration: 500ms;

    background-color: gray;
    color: white;
}
.basic-info .box p {
    float: right;
    font-size: 14px;
}
.basic-info .box-job {
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: white;
}
.basic-info .box-job:hover {
    transition: background 500ms;
    animation-name: smoothHover;
    animation-duration: 500ms;

    background-color: gray;
    color: white;
}
.basic-info .box-job p {
    float: right;
    text-align: right;
    font-size: 14px;
}

/* basic info selesai */

footer {
    background-color: #99a1ad;
    padding: 50px;
}

footer h5 {
    font-family: Georgia;
    font-size: 41px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
}

footer p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
    padding: 0 350px;
}

footer .order {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
}

footer .order .inputan {
    width: 300px;
    font-size: 15px;
}

footer .tombol {
    position: relative;
    left: -40px;
    background-color: white;
    color: black;
    width: 100px;
    height: 40px;
    border-radius: 80px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.6px;
    text-align: center;
}
/* .educations .education-card:nth-child(even){
    color: red;
}

.educations .education-card:nth-child(odd){
    color: blue;
} */

/* IKI GAWE RESPONSIVE */   
@media (max-width: 1199px) {
    .opening {
        height: 600px;
    }
    .basic-info .company-detail {
        width: 415px;
    }
    .basic-info .company-name img {
        bottom: 476px;
    }
    .basic-info .second-company img {
        bottom: 209px;   
    }
    footer p {
        padding: 0 230px;
    }
}
@media (max-width: 991px) {
    .about .image-profil {
        text-align: center;
    }
    .about .about-text {
        margin-top: 50px;
        text-align: center;
    }
    .about .about-text .footer-sosmed {
        justify-content: center;
    }
    .basic-info .company-detail {
        width: 94.9%;
    }
    .basic-info .company-name img {
        bottom: 447px;
    }
    .basic-info .second-company img {
        bottom: 179px;   
    }
    footer p {
        padding: 0 110px;
    }
}
@media (max-width: 767px) {
    nav {
        height: 43px;
        line-height: 43px;
    }
    nav h2 {
        margin-top: 4px;
        font-size: 1.7em;
    }
    nav ul li a {
        padding: 12px;
    }
    .opening {
        height: 100vh;
    }
    .text {
        padding: 110px 0;
    }
    .text h5 {
        font-size: 45px;
    }
    .text h1 {
        font-size: 38px;
    }
    .about .image-profil img {
        width: 250px;
    }
    .about .about-text {
        padding: 0 30px;
    }
    .basic-info .box {
        width: 98.1%;
    }
    .basic-info .box-job {
        width: 98.1%;
    }
    .basic-info .company-name img {
        bottom: 455px;
    }
    .basic-info .second-company img {
        bottom: 187px;   
    }
    .wrapper-education .education-mb {
        margin-bottom: 30px;
    }
}
@media (max-width: 575px) {
    .opening {
        height: 100vh;
    }
    .text {
        padding: 250px 40px 0;
    }
    .text h5 {
        font-size: 45px;
    }
    .text h1 {
        font-size: 38px;
    }
    .about .image-profil img {
        width: 250px;
    }
    .about .about-text {
        padding: 0 30px;
    }
    .title h6 {
        font-size: 27px;
    }
    .expertise {
        padding: 50px 0 0;
    }
    .expertise .header {
        height: 230px;
    }
    .expertise .profile {
        width: 90px;
        height: 140px;
    }
    .expertise .profile-icon {
        font-size: 50px;
        margin: 20px auto;
        width: 50px;
        height: 50px;
    }
    .expertise .name {
        font-size: 1em;
    }
    .expertise .profile:hover {
        height: 180px;
    }
    .expertise .profile:hover .name {
        padding-top: 50px;
    }
    .basic-info .company-detail {
        margin-left: 34px;
    }
    .basic-info .company-name img {
        bottom: 455px;
    }
    .basic-info .second-company img {
        bottom: 187px;   
    }
    .basic-info .box {
        width: 96%;
    }
    .basic-info .box-job {
        width: 96%;
    }
    .wrapper-education .education-mb {
        margin-bottom: 30px;
    }
    .wrapper-education .education-list .institution {
        font-size: 18px;
        padding: 12.5px;
    }
    .wrapper-education .education-list .institution-reverse {
        font-size: 18px;
        padding: 12.5px;
    }
    .wrapper-education .education-list .paragraph-reverse {
        text-align: right;
    }
    footer p {
        padding: 0 0px;
    }
    footer .order .inputan {
        width: 200px;
        margin-left: 30px;
    }
    footer .tombol {
        width: 100px;
    }
}
@media (max-width: 380px) {
    .text {
        padding: 205px 40px 0;
    }
    .text h5 {
        font-size: 42px;
    }
    .text h1 {
        font-size: 32px;
    }
    .text p {
        font-size: 14px;
    }
    .about .about-text h6 {
        font-size: 32px;
    }
    .about .about-text h5 {
        font-size: 27px;
        line-height: 1.5;
    }
    .about .image-profil img {
        width: 200px;
    }
    .expertise .profile {
        width: 80px;
        height: 110px;
    }
    .expertise .profile-icon {
        font-size: 40px;
        margin: 15px auto 10px;
        width: 40px;
        height: 40px;
    }
    .expertise .name {
        font-size: 0.8em;
    }
    .expertise .profile:hover {
        height: 150px;
    }
    .basic-info .company-name .circle p {
        font-size: 23px;
        margin-top: 18px;
    }
    .basic-info .second-company .circle p {
        font-size: 23px;
        margin-top: 18px;
    }
    .basic-info .company-detail {
        margin-left: 32px;
    }
    .basic-info .box {
        width: 95.3%;
    }
    .basic-info .box-job {
        width: 95.3%;
    }
    .wrapper-education .education-list .block {
        width: 280px;
    }
    .wrapper-education .education-list .block-reverse {
        width: 280px;
    }
    footer {
        padding: 40px 10px;
    }
    footer h5 {
        font-size: 35px;
    }
    footer .order .inputan {
        width: 210px;
    }
    footer .tombol {
        width: 75px;
    }
}
@media (max-width: 320px) {
    .text {
        padding: 165px 20px 0;
    }
    .text h5 {
        font-size: 40px;
    }
    .expertise .profile {
        width: 70px;
    }
    .expertise .name {
        font-size: 0.7em;
    }
    .basic-info .circle  {
        margin-left: 35px;
        height: 50px;
    }
    .basic-info .company-name .circle p {
        font-size: 20px;
        margin-top: 9.5px;
    }
    .basic-info .second-company .circle p {
        font-size: 20px;
        margin-top: 9.5px;
    }
    .basic-info .company-name img {
        bottom: 600px;
        width: 70px;
        height: 70px;
    }
    .basic-info .second-company img {
        bottom: 270px;   
        width: 70px;
        height: 70px;
    }
    .basic-info .company-detail {
        margin-left: 28px;
        margin-bottom: 100px;
    }
    .basic-info .box {
        height: 60px;
    }
    .basic-info .box p {
        text-align: right;
    }
    .basic-info .box-job {
        height: 80px;
    }
    .wrapper-education .education-list .block {
        width: 228px;
    }
    .wrapper-education .education-list .block-reverse {
        width: 228px;
    }
    .wrapper-education .education-list .institution {
        font-size: 15px;
        padding: 13px;
    }
    .wrapper-education .education-list .institution-reverse {
        font-size: 15px;
        padding: 13px;
    }
    footer {
        padding: 25px 10px;
    }
    footer h5 {
        font-size: 30px;
    }
}